*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;    
    font-family: 'Mulish', sans-serif;
    background: rgb(40, 223, 153);
}

body{
    font-size: 1.8rem;
}

/* Inicia el header */

.header{
    background-color: rgb(153, 243, 189);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    color: white;   
}
.header__img{
    margin-left: 15px;
    margin-top: 10px;
    width: 170px;
}
/* Finaliza el header */

/* Inicia el contenedor del login */
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: white;
}
.login{
    background: linear-gradient(rgb(153, 243, 189), #1972A4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0px 0px 45px 2px rgba(0,0,0,0.6);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 65px 78px 45px;
    min-height: 850px;
    width: 461px;
}
.login__container--text{
    margin: 30px 0px;
}
.login__container--input{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.login__container--input input{
    outline: none;
}
.login__container--input--email, .login__container--input--password{
    border-style: none;
    color: white;
    border-bottom: solid white 2px;
    background: none;
    margin: 20px 0px;
    padding: 10px 20px;
}
.login__container--input--email::placeholder, .login__container--input--password::placeholder{
    color: white;
    font-family:'Mulish', sans-serif;
    font-size: 1.5rem;
}
.login__container--input--button{
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius: 40px;
    border: none;
    color: white;
    cursor: pointer;
    font-family:'Mulish', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 17px;
}
.login__container--remember-me{
    font-size: 1.6rem;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.login__container--remember-me span{
    padding-left: 10px;
}
.login__container--social-media--google, .login__container--social-media--twitter{
    display: flex;
    align-items: center;
}
.login__container--social-media--twitter{
    margin-top: 20px;
}
.login__container--social-media--google span, .login__container--social-media--twitter span{
    padding-left: 10px;
}
.login__container--register a{
    font-size: 2.0rem;
    font-weight: bold;
    
}
/* Finaliza el contenedor del login */

/* Inicia el footer */
.footer{
    background: #1972A4;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}
.footer p{
    margin-top: 15px;
    margin-left: 20px;
}
/* Finaliza el footer */